/* All pages share the same CSS file*/

h1, h2, p, ul, ol
{
	font-family: arial, verdana, sans-serif;

}

body
{
  margin:0;
  padding:0;
  background-color:#E8ECEC;
}



p
{
	font-size:20px;
  margin-bottom: 5% !important;

}

img
{
  float: left;
  margin:2%;
  margin-bottom:0;
  margin-top:6%;
}
/*Styles for the lists*/
ul
{
  white-space: pre-line;
  font-size:20px;
  margin-bottom: 5% !important;
  margin-left:1.5%;
	margin-right:35%;
}

ol
{
  white-space: pre-line;
  font-size:20px;
  margin-bottom: 5% !important;
  margin-left:1.5%;
	margin-right:35%;
}

li
{
	margin-bottom: -0.5% !important;
}

a
{
	text-decoration: underline  40% #D2E9EA;
	color:black
}

a:hover
{
	background-color: #D2E9EA;
}

#SpaceRaceimg
{
  float: right;
  margin:0%;
}

#Armstrong_Moon
{
  float: right;
}

#P3
{
  margin-top: 10%;
}

#P4
{
  margin-bottom:0 !important;
  margin-top: 2% !important;
}

#P7
{
    margin-top: 10%;
}
/* All title classes/id's are for the style of the headings of all pages */
#Title
{
  text-align:center;
  font-size:60px;
  font-weight:700;
  border:0px;
  border-style:solid;
  border-color:#282A35;
  border-width:100px;
  color:white;
  padding:0;
  margin:0;
  margin-bottom:2%;
}

.Title
{
  background-color:#282A35;
}

#content
{
  margin-left:25%;
}


.body-elements
{
  margin: 2%;
  margin-left:5%;
  margin-right:5%;
}
/* Styles the next page button */
#Bibliography
{
  margin-top : 2%;
  background-color :#282A35;
  font-family: arial, verdana, sans-serif;;
  margin-right:2%;
  margin-left:85%

}

/* "#Bibliography a" styles the link inside the "Next Page" button */
#Bibliography a
{
color : white;
text-align : center;
padding : 15px;
display : block;
font-size : 14pt;
text-decoration:none;
border: 1px;
border-color:black;
border-style: solid;
}

#Bibliography a:hover
{
background-color : #444659;
}


#Armstrong_Moon
{
  margin-top:0;
}
/*Caption id's style all captions located underneath images*/
#Caption1
{
  text-align: left;
  margin-left:2%;
  margin-top:-6%;
  font-size:10pt;
  font-style:italic;
}

#Caption1 a
{
	font-size: 15pt;
	text-decoration:none;
}

#Caption2
{
  text-align: right;
  font-size:10pt;
  font-style:italic;
  margin:0 !important;
  margin-right: 1% !important;
}

#Caption2 a
{
	font-size: 15pt;
	text-decoration:none;
}

#Caption3
{
  text-align: right;
  font-size:10pt;
  font-style:italic;
  margin:0 !important;
  margin-right: 2.5% !important;
  margin-top:-2% !important;
}

#Caption3 a
{
	font-size: 15pt;
	text-decoration:none;
}

#Refrences
{
  font-size:22pt;
  margin-left: 3%;
  margin-bottom:2%
}

#PhotographicRefrences
{
  margin-left:3%;
  font-size:22pt;
}

/*General style for the navigation menu*/
#nav-menu
{
  border:solid;
  border-width:3px;
  display: inline-block;
  float:right;
  margin-right:2%;
  margin-left: 2%;
}

/*Specific style of the navigation menu*/
nav
{
  margin-top : 2%;
  background-color :#282A35;
  font-family: arial, verdana, sans-serif;;
  width : 200px;
  align-items : center;
}

/* "nav a" styles the links inside the navigation menu */
nav a
{
color : white;
text-align : center;
padding : 15px;
display : block;
font-size : 14pt;
text-decoration:none;
border: 1px;
border-color:black;
border-style: solid;
}

nav a:hover
{
background-color : #444659;
}
